<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>战神世界-资源计算器</title>
	<meta name="description" content="战神世界资源计算器，在线转换战神世界资源统计">
	<meta name="keywords" content="战神世界资源计算器,战神世界私服,战神世界,战神世界2,">
	<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1,user-scalable=no">
	<link href="https://cdn.bootcss.com/bootstrap/3.3.7/css/bootstrap.min.css" rel="stylesheet">
</head>
<body ng-app="myApp" ng-controller="warlordCalculatorController">
	<div class="container">
		<h1>战神世界资源计算器</h1>
		<h4>感谢@流浪山谷 提供三国版的战神世界，让广大战神老玩家重温战神世界里的乐趣！</h4>
		<h3>也希望更多的人加入我们的游戏，QQ群【169280366】</h3>
		<div class="row">
			<div class="col-md-7">
				<div class="form-group">
					<label for="">请在下面输入框输入您要计算的资源</label>
					<textarea class="form-control" name="" id="" cols="30" rows="6" ng-model="sourceData"></textarea>
				</div>
				<div class="form-group">
					<button class="btn btn-primary" ng-click="calcul()">计算</button>
					<label class="alert-danger input-sm" ng-show="errMessage" ng-bind="errMessage"></label>
				</div>
				<div class="form-group">
					<h2 class=""><small>结果：</small>{{result|number}} <span ng-show="result"> ({{result|shortNumber}})</span></h2>
				</div>
			</div>
			<div class="col-md-5">
				<h3>资源计算比例参考<small>(数据收集：@不一样)</small></h3>
				<ul>
					<li ng-repeat="conversion in conversionRatio">{{conversion.name}}：{{conversion.price}}</li>
				</ul>
			</div>
		</div>
		<div class="text-center">
			<h2><small>技术提供：</small><a href="http://nohyou.com"><small>nohyou</small></a></h2>
		</div>
	</div>
	
</body>
<script src="http://apps.bdimg.com/libs/angular.js/1.5.0-beta.0/angular.min.js"></script>
<script src="warlordCalculator.js"></script>
</html>